body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
  justify-content: space-between;
  font-family: "Asap", sans-serif;
  background-color: #ADD8E6;
  color: #00008B;
}

.content {
  display: flex;
  gap: 200px;
  align-items: center;
}

.grid {
  height: 600px;
  width: 600px;
  display: flex;
  border-left: 1px #00008B solid;
  border-right: 1px #00008B solid;
}

.grid-column {
  flex: auto;
  border: 1px #00008B solid;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.grid-row {
  border-top: 1px #00008B solid;
  border-bottom: 1px #00008B solid;
  padding: 0;
  margin: 0;
  flex: auto;
}

#grid-size {
  width: 50px;
}

button {
  background-color: #00008B;
  color: #ADD8E6;
  width: 200px;
  font-family: 'Asap', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: 2px #ADD8E6 solid;
  transition-duration: 0.2s;
}

button:hover {
  background-color: #ADD8E6;
  color: #00008B;
}

.head{
  margin: 0 auto 15px;
  font-size: 40px;
}

.github-link {
  margin-left: auto;
}

.github-link a {
  text-decoration: none;
  color: #00008B;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.github-link img {
  height: 30px;
  width: auto;
}

.user-input {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: space-around;
  align-items: center;
  background-color: #00008B;
  color: #ADD8E6;
  height: 400px;
  width: 300px;
  padding: 20px;
  border: 2px #00008B solid;
  border-radius: 10px;
}

.user-input button {
  width: 180px;
  height: 40px;
}

.gridsize-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.color-wheel input {
  height: 30px;
  width: 50px;
  margin: 5px;
}